#tbl1{ width: 56%; border:1px solid black; border-collapse: collapse; text-align: center; margin-left: 11.8%;}
.td1{width: 8%; border-right: 1px solid black; border-top: 1px solid black;}
.td2{width: 54%; border-right: 1px solid black; border-top: 1px solid black;}
.td3{width: 15%; border-right: 1px solid black; border-top: 1px solid black;}
.td4{width: 15%; border-right: 1px solid black; border-top: 1px solid black;}
.td5{width: 8%; border-top: 1px solid black;}
