.container {position: absolute; width: 20%;}
#con1{margin-left: 21%;}
#con2{margin-left: 41%;}
#con3{margin-left: 61%;}
.container .content {position: absolute; background: #d10e0e; color: #f1f1f1; width: 16%; padding:2%; top: 0px; right: 15%; text-align: center;}
.image {cursor:pointer; display: block; width: 90%; height: 300px;}
.overlay {cursor:pointer; position: absolute; bottom: 0; left: 0; right: 0; background-color: white; overflow: hidden; width: 83.5%; height: 20%; transition: height 0.5s; border:1px solid #ddd; padding:3%;}
.container:hover .overlay {height: 70%;}
.button1 button:hover{background-color: #d10e0e; opacity: 0.5;}
.text {margin-bottom: 22%; color: black; font-size: 15px; }
.text1{font-size: 12px;}
.button1{text-align: center;}
