body{margin: 0; min-width: 100%;}
#footer_wrap a{text-decoration: none;}
#footer_wrap a:visited{color: inherit;}
#wrap{width: 100%; height:100%; max-height: 10000px;}
#wrap header{height: 135px;}
.hov{cursor:pointer;}
#logout{font-weight: bold; color: #363636;}
#logout a{font-weight: bold; color: #363636; text-decoration: none;}
#menus{ display: inline-block;}
#login_menu_ul > li {list-style: none; display: inline-block; font-size:15px; width:100px;}
#top_menu li{font-size: 18px; font-weight: bold; display: inline; padding:30px;}
#top_menu a{text-decoration: none; color: #363636;}
#login_menu{float: right; margin-right: 10%; padding: 1px 1px;}
#login_menu a{color:#363636;}
#login_menu a.hov{text-decoration: none; font-size: 15px;}
#top_my_content{display: none;   background-color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);width : 100px;}
#top_my:hover #top_my_content{display: block; position: absolute;}
#top_my_content_ul{padding:0; }
#top_my_content_ul a:link, #top_my_content_ul a:visited {color:#5d5d5d;}
#top_my_content_ul li{list-style: none; padding: 5px 2px;}
#top_my_content_ul li:hover{color: black; background-color: #eee;}
#logo img{width: 8%; height: 100px; margin-left: 17%; margin-top: 1%;}
#main_search{background-image: url("../img/index.jpg"); width: 100%; height: 400px;}
#main_search input{border: 4px solid #373737; height: 34px; font-size: 20px; width: 28%; text-align: center; margin-left: 35.5%;}
#main_search button{ color: white;  background-color: #373737; border: 10px solid #373737; font-size: 1em; border-radius: 2px; font-weight: bold; cursor:pointer;}
#main_big3 h1{text-align: center;}
footer{background-color: #363c48; height: 222px;}
footer h2, footer h3{color: #999999; }
footer h3 {text-align: center; margin-left: 350%; width: 100%;}
#footer_wrap{color: white; margin-left: 2%; float: left; clear: both; height:180px;}
#footer_wrap b{font-size: 25px;}
#footer_wrap  tr > td{width : 10%; }
#footer_wrap  a{color: #999999;}
#footer_wrap  tr > td:first-child{width : 70%;}
#bottom_menu_history, #bottom_menu_customer{width: 100%; margin-left: 350%; padding:0; list-style: none; text-align: center;}
#bottom_menu_history{margin-bottom: 140%;}
