body{margin: 0; min-width: 1300px;}
a{text-decoration: none;}
a:visited{color: inherit;}
#wrap{width: 100%; height:100%; max-height: 10000px;}
header{height: 135px;}
#menus{ display: inline-block;}
#login_menu_ul > li {list-style: none; display: inline-block; font-size:14px;}
div #top_menu li{font-size: 18px; font-weight: bold; display: inline; margin-left: 50px;}
div #top_menu a{text-decoration: none; color: #363636;}
#login_menu{float: right; margin-right: 25px;}
#login_menu a.hov{margin-right: 15px; text-decoration: none; font-size: 14px;}
#top_my_content{display: none;   background-color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);width : 100px;}
#top_my:hover #top_my_content{display: block; position: absolute;}
#top_my_content_ul{padding:0;}
#top_my_content_ul li{list-style: none;}
#top_my_content_ul li:hover{color: black; background-color: rgb(212, 212, 212);}
#logo img{width: 150px; height: 100px; margin-left: 17%; padding-top: 20px;}
#main_search{background-image: url("../img/index.jpg"); width: 100%; height: 400px;}
#main_search input{border: 4px solid #373737; height: 34px; font-size: 20px; width: 500px; text-align: center; margin-left: 31.5%;}
#main_search button{ color: white;  background-color: #373737; border: 10px solid #373737; font-size: 1em; border-radius: 2px; font-weight: bold; cursor:pointer;}
#main_big3 h1{text-align: center;}
footer{background-color: #363c48; height: 200px;}
footer h2, footer h3{color: #999999; }
footer h3 {text-align: center;}
#footer_wrap{color: white; margin-left: 30px; float: left; clear: both; font-size: 15px; height:200px;}
#footer_wrap b{font-size: 25px;}

#footer_wrap  tr > td{width : 10%; }
#footer_wrap  tr > td:first-child{width : 70%;}
#bottom_menu_history, #bottom_menu_customer{padding:0; list-style: none; text-align: center;}
#bottom_menu_history{margin-bottom: 100px;}
