@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
body{font-family:'Nanum Myeongjo', sans-serif; }
body{margin: 0; min-width: 100%;}
#wrap{width: 100%;}
#wrap header{height: 135px;}
.hov{cursor:pointer;}
#logout{font-weight: bold; color: #363636;}
#logout a{font-weight: bold; color: #363636; text-decoration: none;}
#menus{ display: inline-block; width:74%;}
#login_menu_ul > li {list-style: none; display: inline-block; font-size:15px; width:100px;}
#top_menu {font-weight:500; font-size: 23px;  display: inline; padding:30px; padding-top: 6px;}
#top_menu li{ font-size: 23px;  display: inline; padding:30px;}
#top_menu li:hover{ font-weight: bold;}
#top_menu a{text-decoration: none; color: #363636;}
#top_menu_div{float:left; margin-top:1.5%;}
#login_menu{float: right; padding: 1px 1px; padding-bottom:8px;}
#login_menu a{color:#363636;}
#login_menu a.hov{text-decoration: none; font-size: 15px;}
#top_my_content{display: none;   background-color: white;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);width : 100px;}
#top_my:hover #top_my_content{display: block; position: absolute;}
#top_my_content_ul{padding:0; }
#top_my_content_ul a:link, #top_my_content_ul a:visited {color:#5d5d5d;}
#top_my_content_ul li{list-style: none; padding: 5px 2px;}
#top_my_content_ul li:hover{color: black; background-color: #eee;}
#logo img{width: 8%; height: 100px; margin-left: 17%; margin-top: 1%;}
#main_search{background-image: url("../img/22.jpg"); width: 100%; height: 400px; background-repeat: no-repeat;}
/* #main_search input{border: 4px solid #373737; height: 34px; font-size: 20px; width: 28%; text-align: center; margin-left: 35.5%;}
#main_search button{ color: white;  background-color: #373737; border: 10px solid #373737; font-size: 1em; border-radius: 2px; font-weight: bold; cursor:pointer;} */
#main_big3 h2{text-align: center;}
.more_chart_div li{display: inline; margin-left: 41%;}

footer{background-color: #363c48; width:100%; height:auto; margin:0%;border: 0;}
footer h2, footer h3{ color: #999999;}
footer h3 {text-align:center; width: 100%;}
/* footer_css*/
#footer_wrap{ color: white; height:auto; width: 100%; margin-bottom:0;}
#bottom_menu_history, #bottom_menu_customer{width: 100%; margin-left: 450%; padding:0; list-style: none;}
#footer_wrap a:visited{color: inherit;}
#footer_wrap b{font-size: 25px; color: white;}
#footer_wrap a{text-decoration: none; color: #ffffff; }
/* #footer_wrap  tr > td{width : 10%;} */
/* #footer_wrap  tr > td:first-child{width : 70%;} */
