.community_section{width: 70%;height:480px;margin: 0px auto;margin-left: 18%;}
.review{text-align: center;width: 30%;height: 410px;display: inline-block;}
.review:hover{opacity: 0.5;}
.review_title{margin-top: 1%;	margin-bottom: 1%;font-size: 20px;text-align: center;color:gray;}
#list_search{margin-top: 3%;margin-bottom: 1%;}
#review_a{text-decoration: none;}
#list_search li {display: inline;list-style: none;}
#list_search1 {font-weight: bold;margin-right: 62%;}
#list_search4 {font-size: 18px; height: 21px; width: 11.5%;}
#list_search3 select{padding: 4px; font-size: 15px;}
#list_search5{border-radius: 3px; width: 60px; height: 25.5px; font-weight: bold; margin-right: 1%; cursor: pointer; border: 1px solid #464646; background-color: white;}
#list_search5:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.page_button_group button{margin-top: 2%; border-radius: 3px;margin-bottom:2%;width: 2%;  height: 35px;font-weight: bold; margin-right: 5px;
  cursor: pointer;
  border: 1px solid #464646;
  background-color: white;
}
#write_but {
  margin-left: 77%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 3px; width: 70px; height: 33px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;
}
#write_but:hover{
  margin-left: 77%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;
}





.page_button_group button:hover{
  background-color: #2F9D27;
  color: white;
  border-radius: 3px;
  border: 1px solid #2F9D27;
}
.page_button_group{
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  text-align:center;
}
