.forgot_id_pw_form{width: 50%; height: 700px;  margin-top: 1%; margin-bottom: 0.5%;}
.forgot_id_pw_form table{margin-left: 25%;border-collapse: collapse; width:50%;  height: 30%;border-bottom: 1px solid #BDBDBD;}
.forgot_id_pw_form table td{padding: 1%;text-align: center; width: 9%; border-top: 1px solid #BDBDBD; background-color:rgba(189, 189, 189, 0.5);}
.forgot_id_pw_form table tr:first-child th{border: 1px solid #BDBDBD; height:40px; cursor: pointer;}
.forgot_id_pw_form th{ width: 4%; border-top: 1px solid #BDBDBD;}
.forgot_id_pw_form input{ font-size: 20px; }
.forgot_id_pw_form button{height: 36px; font-size: 15px; font-weight: bold; border: 1px solid black; background-color: white;}
.forgot_id_pw_form button:hover{cursor: pointer;height: 36px; font-size: 15px; font-weight: bold; border: 1px solid black; background-color: #EAEAEA;}
.forgot_id_pw_form{background-image: url("../img/forgot_id.jpg"); width: 100%; height: 515px;}
#find_by_email,#find_by_phone{cursor:pointer;height: 40px;}
