#free #list_tbl{margin-left: 12%; margin-bottom: 10%; margin-bottom:1%; width:77%;  border-collapse: collapse; border: #f2f2f2; border-top: 1px #454545 solid; height: 2%;}
.page_button_group button{border-radius: 3px; margin-bottom:2%; width: 35px; height: 35px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.page_button_group button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.page_button_group{position: relative;  margin-left: auto; text-align:center; margin-bottom: 8.5%;}
#free #list_tbl th{background-color: #f2f2f2; padding: 0 10px; width: 100px; height: 50px; border-right: 1px solid #D5D5D5; text-align: center;}
#free #list_tbl td{border-right: 1px solid #BDBDBD; border-bottom: 1px solid #BDBDBD; text-align: center;}
#admin_write_btn{margin-left: 83.5%; border-radius: 3px; margin-bottom:2.5%; width: 80px; height: 35px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
#admin_write_btn:hover{background-color: #2F9D27; border: 1px solid #2F9D27; color: white;}
.free_list_search{margin-top: 5%; margin-left: 32%; margin-top: 2.5%; margin-bottom: 0.5%;}
.free_list_search select{padding: 5px; font-size: 15px;}
.free_list_search button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.free_list_search button{border-radius: 3px; width: 60px; height: 25.5px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.free_list_search input{font-size: 18px; height: 21px; width: 150px;}
.free_list_search h4{margin-left: 20%;}
.free_list_search li{display: inline;}
#search_option{margin-left: 49.5%;}
