#wrap{width: 100%; height: 2000px; max-height:5000px; max-width: 2000px;}
#head{background-color: #f2f2f2; height: 460px; padding-top: 20px;}
#top_box{background-color: white; height: 390px; width: 77%; margin-left: 12%; padding-top: 5px;}
#code p{margin-left: 85%; margin-top: 3px; font-size: 15px; font-weight: bold;}
#name b{font-size: 28px; margin-left: 34px;}
#name p{font-size: 15px; color: #535353; margin-left: 34px; margin-bottom: 20px;}
#image_zone img{width: 32.8%; height: 260px;}
#toptbl{margin-top: 30px; width:100%; margin-left: 12%; height: 250px;  border: 1px solid #dddddd; margin-bottom: 20px;}
#period{font-size: 22px; font-weight: bold; border-bottom: 1px dotted #dddddd; padding-left: 30px; height: 50px;}
#arr_mt{ padding-left: 30px; border-bottom: 1px solid #eeeeee;}
#res_now{ padding-left: 30px;}
.left{font-size: 14px; font-weight: bold; background-color: #f2f2f2; text-align: center; width: 100px;}
.gb{ background-color: #1ae134; color: white; width: 65px; height: 20px; text-align: center; margin-left: 29px; font-size: 12px; font-weight: bold; padding-top: 5px; border-radius: 3px;}
#back{height: 25px; border-bottom: 1px solid #eeeeee;}
#go{height: 25px;}
#arr{height: 30px; }
#res{height: 30px; }
#sch{height: 10px;}
#middle{float: left; margin-left: 5%;  width: 56%;}
#detail_view1{border:1px dotted black; height:1000px;  margin-left: 12%; width: 100%; clear: both;}
.d1{font-size: 50px; font-weight: bold; margin-left: 45%;}
#detail_menu{border: 2px solid grey; border-top:1.5px solid grey; width: 17%; position:sticky; top: 15px;  margin-top: 30px; margin-left: 69%;}
#select_people{background-color: #f2f2f2;}
#select_people p{font-size: 13px; color:#444444; display: inline-block; font-weight: bold; margin-bottom: 1px; margin-top: 5px;}
#adult{margin-left: 37px;}
#kid{margin-left: 42px;}
#baby{margin-left: 40px;}
#sel1{width: 55px; margin-left: 25px; margin-bottom: 10px; margin-top: 2px; padding: 4px 3px; border-radius: 2px;}
#sel2{width: 55px; margin-left: 11px; padding: 4px 3px; border-radius: 2px;}
#sel3{width: 55px; margin-left: 11px; padding: 4px 3px; border-radius: 2px;}
#total_pay{margin-left: 15px; font-size: 16px; font-weight: bold; margin-bottom: 0px;}
#money{font-size: 30px; color: #e85581; margin-left: 100px;}
#won{font-size: 16px; color: #e85581;  display: inline-block;}
.subtext1{font-size: 9px; color: #6e6e6e; text-align: right; margin-right: 10px;}
#line{font-size: 9px; color: #cccccc; margin-left: 2%;}
#reserve_status{background-color: #aaaaaa; color: white; font-size: 15px; font-weight: bold; width: 200px; margin-left: 23px; text-align: center; padding: 14px 5px;}
#go_cart{ border: 1px solid #e85581; color: #e85581; font-size: 15px; font-weight: bold; width: 200px; margin-left: 23px; text-align: center; padding: 13px 4px; margin-bottom: 15px;}
