#notice h2{margin-left: 12%;}
#notice #list_tbl{margin-left: 18%; margin-bottom:0.3%; border-collapse: collapse; border: #f2f2f2; border-top: 1px #454545 solid; height: 2%; width: 63%;}
.page_button_group button{border-radius: 3px; margin-bottom:3%; width: 35px; height: 35px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.page_button_group button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.page_button_group{ position: relative; margin-top: auto; margin-left: auto;text-align:center;}
#notice #list_tbl th{background-color: #f2f2f2; padding: 0 10px; height: 50px; border-right: 1px solid #D5D5D5; }
#notice #list_tbl td{border-right: 1px solid #BDBDBD; border-bottom: 1px solid #BDBDBD; text-align: center;}
#admin_write_btn{ border-radius: 3px; margin-bottom:0.5%; width: 80px; height: 35px; font-weight: bold; margin-right:1%; cursor: pointer; border: 1px solid #464646; background-color: white;}
#admin_write_btn:hover{background-color: #2F9D27; border: 1px solid #2F9D27; color: white;}
.notice_list_search{margin-top: 5%; margin-left: 12%; margin-bottom: 1%;}
.notice_list_search select{padding: 5px; font-size: 15px;}
.notice_list_search button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.notice_list_search button{border-radius: 3px; width: 60px; height: 25.5px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.notice_list_search input{font-size: 18px; height: 21px; width: 150px;}
#total_title {margin-left: 7%;}
.notice_list_search li{display: inline;}
#select_check{width: 4%;}
.another_btn{ margin-top: 1%; margin-right: 1%;}
#total_title{margin-right: 49.5%; }
#member_title{margin-left: 18%;}
