#table1{  margin-left:29%; font-size: 18px;border-collapse: collapse;}
#table1 tr{padding:5px;}
#table1 td:first-child{font-size: 24px;}
#faq td{border-bottom: 1px solid #464646; padding:10px;}
#faq_main {height: 700px;}
#li1{cursor:pointer;}
#li1:hover{opacity: 0.65;}
