#notice h2{margin-left: 12%;}
#notice table{margin-top: 3%; margin-left: 31.5%; margin-bottom:0.3%; border-collapse: collapse; border: #f2f2f2; border-top: 1px #454545 solid;}
.page_button_group button{border-radius: 3px; margin-bottom:3%; width: 35px; height: 35px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.page_button_group button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.page_button_group{margin-left: 33.8%; display: inline;}
#notice table th{background-color: #f2f2f2; border-bottom: 1px solid #A6A6A6; padding: 0 10px; width: 100px; height: 50px; border-right: 1px solid #D5D5D5; }
#notice table td{border-right: 1px solid #BDBDBD; border-bottom: 1px solid #BDBDBD; text-align: center;}
.admin{margin-left: 56%; margin-top: 1%; margin-bottom:0.3%;}
#admin_write_btn{ border-radius: 3px; margin-bottom:0.5%; width: 80px; height: 35px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
#admin_write_btn:hover{background-color: #2F9D27; border: 1px solid #2F9D27; color: white;}
.notice_list_search{margin-top: 5%; margin-left: 60.5%;}
.notice_list_search select{padding: 5px; font-size: 15px;}
.notice_list_search button:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.notice_list_search button{border-radius: 3px; width: 60px; height: 25.5px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.notice_list_search input{font-size: 18px; height: 21px; width: 150px;}
.admin input{border-radius: 3px; width: 60px; height: 25.5px; font-weight: bold; margin-right: 5px; cursor: pointer; border: 1px solid #464646; background-color: white;}
.admin input:hover{background-color: #2F9D27; color: white; border-radius: 3px; border: 1px solid #2F9D27;}
.admin a{text-decoration: none;}
